name: Format

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: write
  pull-requests: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: dart format lib example
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: 'style: format code'
          title: 'style: format code'
          body: 'Format code using `dart format`.'
          branch: 'format-fix-${{ github.head_ref || github.ref_name }}'
          delete-branch: true
